# VS and VSC folders
**/.vs/
**/.vsc/

# Common extensions
**/*.exp
**/*.ilk
**/*.lib
**/*.pdb
**/*.exp
**/*.exe

# SDKs
source/*_sdk/

# Project options
source/*_gml/options/

# Build solutions (temp & output)
source/*_gml/extensions/**/*_windows/**/x64/

# MacOS
.DS_Store

# XCode and VS userdata
*.user
xcuserdata/

# Igor artifacts
*.sh-e

# Output and Build folders
output/
source/*_gml/Build/